.log-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    padding-top: 5rem;
    padding-bottom: 3rem;
    position: relative;
    background-color: var(--portfolio-bg-surface);
}

.log-in-page::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../assets/notes.png");
    background-repeat: no-repeat;
    background-size: 280px auto;
    background-position: right bottom;
    opacity: 0.25;
    pointer-events: none;
    z-index: 0;
}

