.device-frame{
  border: 0.1em solid black;
  padding: 0.1em;
  position: relative;
  background-color: var(--portfolio-bg-main);
  width: 398px;
  height: 854px;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* border */
.device-border{
  width: 100%;
  height: 100%;
  position: relative;
  border: 0.5rem solid black;
  border-radius: 3em;
  overflow: hidden;
}


.camera-container{
  width: 38%;
  height: 2rem;
  background-color: black;
  border-radius: 50px;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.134);
}