
.folder-card{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    text-decoration: none;
    color: inherit;
    background: #ffffff;
    border-radius: 10px;
    padding: 0.8rem 1rem;
    box-shadow:
        0 1px 2px rgba(0,0,0,0.04),
        0 4px 12px rgba(0,0,0,0.04);

    transition:
        transform 0.12s ease,
        box-shadow 0.12s ease;
    cursor: pointer;
}

.folder-card-title{
    font-size: 1.5rem;
}

.folder-card-subtitle{
    font-size: 1rem;
}

.folder-img-contr{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.folder-count{
    width: 2.5rem;
    height: 1rem;
    background-color: rgb(147, 105, 245);
    padding: 0.7rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.folder-card:hover {
  transform: translateY(-2px);
  box-shadow:
    0 4px 10px rgba(0,0,0,0.06),
    0 12px 24px rgba(0,0,0,0.06);
}