.note-pad-contr{
    width: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.notepad-title-area{
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 1rem 0.4rem;
    resize: none;
    overflow: hidden;
    line-height: 1.2;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.notepad-body-area{
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    border: none;
    outline: none;
}


.notepad-body-area{
    flex: 1;
    min-height: 0;
    padding: 1rem 1rem 3rem;
    font-size: 1.1rem;
}

.notepad-code-editor {
    flex: 1;
    min-height: 0;
}
