.page-title, .page-subtitle{
    width: 100%;
    text-align: left;
    padding: 0 1rem;
    color: #291a64;
    font-size: 1.6rem;
    margin-top: 0.4rem;
}

.page-subtitle{
    font-weight: 400;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    color: #787878;
}